/* General */
$primary-color: #1e1e1e; // Dark background color
$secondary-color: #ffffff; // Light text color
$accent-color: #ff4081; // Accent color for buttons and highlights
$focus-ring-color: rgb(240, 235, 237); // Focus ring color for accessibility

* {
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: $primary-color;
  color: $secondary-color;
  margin: 0;
  padding: 0;
}

/* Header */
header {
  width: 100%;
}

/* Hero Section */
.heroSection {
  height: 800px;
  color: #fafafc;
  opacity: 0.7;
}

.heroInner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  position: absolute;
  top: 8em;
  left: 0;
  z-index: 1;
  width: 100%;
  text-align: center;

  span {
    img {
      width: 350px;
    }
  }

  .movie_info_col {
    width: 50%;
    color: $secondary-color;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.6); // Black with opacity
    margin: 1em;
    padding: 1em;
    border-radius: 2em;

    .css-79ws1d-MuiModal-root {
      left: 200px;
    }
  }
}

@media (max-width: 768px) {
  .heroInner {
    flex-direction: column;

    span img {
      height: 300px;
      width: auto;
    }
  }
}

/* Button Styles */
.btn {
  background-color: $primary-color;
  border: 2px solid $secondary-color;
  border-radius: 20px;
  padding: 20px;
  color: $secondary-color;

  &:hover {
    background-color: $secondary-color;
    border: 3px solid $focus-ring-color;
    color: $primary-color;
  }
  &:focus {

    border: 3px solid $focus-ring-color;
  
    color: $primary-color;
    background-color: $secondary-color;


  }
}

/* Navbar */
.navbar {
  overflow: hidden;
  background-color: $primary-color;
  font-family: Arial, Helvetica, sans-serif;

  a {
    float: left;
    font-size: 16px;
    color: $secondary-color;
    text-align: center;
    padding: 24px 16px;
    text-decoration: none;

    &:focus {
    outline: none;
    border: 3px solid $focus-ring-color;
    }
  }

  h2 {
    float: left;
    font-size: 16px;
    color: $secondary-color;
    text-align: center;
    padding: 24px 16px;
    margin: 0;
  }

  .quote-source {
    padding: 0px 0px 0px 40px;
  }
}

.dropdown {
  float: right;
  overflow: hidden;

  .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: $secondary-color;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit;
    margin: 0;
  }
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: $primary-color;
}
.navbar a:focus {
  border: 2px solid $focus-ring-color;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: $primary-color;
  width: 100%;
  right: 0;
  z-index: 3;

  .header {
    background: $primary-color;
    padding: 16px;
    color: $secondary-color;
  }
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}

.dropdown-content .row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.column {
  padding: 0px;
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  padding: 20px;
  color: $secondary-color;

  a {
    padding: 16px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

/* Genres */
.genreContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 30px;
}

/* Search */
.searchBar {
  margin: 40px;
  width: 400px;
 label {
  font-size: 26px;
  margin: 40px 0px 50px 40px;
  font-weight: 700;
 }
  input {
    width: 100%;
    height: 30px;
    border-radius: 20px;
    text-align: center;
    border: 1px solid $secondary-color;
    background-color: transparent;
    color: $secondary-color;
    margin: 42px;
    &:focus {
      border: 3px solid $focus-ring-color;
      outline: none;
    }
  }
}

.filtersContainer {
  display: flex;
  flex-direction: row;

  .genre_col {
    display: flex;
    flex-direction: column;
    width: 60%;

    h2 {
      font-size: 26px;
      margin: 40px 0px 10px 40px;
    }
  }
}

/* Movie Container */
.movieContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; // Space between movie cards
  justify-content: center; // Center items in the container
  padding: 20px;

  .movieCard {
    background-color: #2c2c2c; // Card background color
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    transition: transform 0.2s;
    width: 320px;

    img {
      width: 100%; // Responsive image width
      border-radius: 8px;
    }

    p {
      margin: 5px 0; // Margin for text
      color: $secondary-color; // Text color
    }

    &:hover {
      transform: scale(1.05); // Slight zoom on hover
    }
  }
}

/* Button Styles */
button {
  margin: 10px;
  padding: 10px 15px;
  background-color: $accent-color;
  color: $secondary-color;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;

  &:hover {
    background-color: lighten($accent-color, 10%);
  }

  &:focus {
    border: 2px solid $focus-ring-color; // Use focus ring color
  }
}
