/*general*/
.root {
  width: 100%;
}
body {
  width: 100%;
}

header {
  width: 100%;
}
/*hero*/
.heroSection {
  height: 800px;

  color: #fafafc;
 opacity: .7;
}
.heroInner {
  display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
  margin: 0 auto;
  position: absolute;

  top: 8em;
  left: 0;

  z-index: 1;
  width: 100%;
 
  text-align: center;
  span {
    img {
      width: 350px;
    }
  }
  .movie_info_col {
   width: 50%;
   color: #fff;
   font-size: 18px;  
   background-color: rgba(0,0,0, 0.6); /* Black w/opacity/see-through */
   margin: 1em;
   padding: 1em;
   border-radius: 2em;
   .css-79ws1d-MuiModal-root {
    left: 200px;
   }
  }
 
}
@media (max-width: 768px) {
  .heroInner {
    flex-direction: column;
    span img {
      height: 300px;
      width: auto;
    }
  }
}

.btn {
  background-color: #1a0033;
  border: 2px solid #f5f8fb;
  border-radius: 20px;
  padding:20px;
  color: #fff;
}
.btn:hover{
  background-color: #f5f8fb;
  border: 2px solid #1a0033;
  color: #000;
}

// @media (max-width: 576px) {
//   background: linear-gradient(to bottom, #0a0c2c80 3rem, transparent),
//     url(https://images.pexels.com/photos/133325/pexels-photo-133325.jpeg?auto=compress&cs=tinysrgb&w=800&h=750&dpr=1);
//   background-position: center, bottom left;
//   background-size: cover, cover;
//   align-items: flex-start;
//   padding-top: 7.5rem;
//   height: 75vh;
//   max-height: 720px;
// }

/*nav*/
.navbar {
  overflow: hidden;
  background-color: #1a0033;
  font-family: Arial, Helvetica, sans-serif;
  a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 24px 16px;
    text-decoration: none;
  }
  h2 {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 24px 16px;
    text-decoration: none;
    margin: 0;
  }
  .quote-source {
    padding: 0px 0px 0px 40px;
  }
}

.dropdown {
  float: right;
  overflow: hidden;
  .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit;
    margin: 0;
  }
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #1a0033;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1a0033;
  width: 100%;
  right: 0;

  z-index: 3;

  .header {
    background: #1a0033;
    padding: 16px;
    color: white;
  }
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;

}
.dropdown-content .row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
 

}

.column {
  padding: 0px;
  background-color: #1a0033;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  padding: 20px;

  color: #fff;
  a {

   
    padding: 16px;
    text-decoration: none;
  
  }
  a:hover {
    text-decoration: underline;
  }
}



/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    height: auto;
  }
}

//nav//
.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #f5f8fb;
  margin: 6px 0;
  transition: 0.4s;
}

//genres
.genreContainer {
  display: flex;
  flex-wrap: wrap;

  margin: 20px 30px 30px 30px;
}

//search
.searchBar {
  margin: 40px;
width: 400px;
  input {
    width: 100%;
    height: 30px;
    border-radius: 20px;
    text-align: center;
  }
}

.filtersContainer {
  display: flex;
  flex-direction: column;
  .genre_col {
    display: flex;
    flex-direction: column;
    h2 {
      font-size: 26px;
      margin: 40px 0px 10px 40px;
    }
  }
}
